{{ define "nav" }}
    <section id="header">
        <nav>
            <div><a href="/">Home</a></div>
            <header>prettyBookmarks</header>
            <div><input id="search-bar" autofocus tabindex="1" placeholder="search..." /></div>
        </nav>
    </section>
{{ end }}