* {
    font-family: "JetBrains Mono";
}

body {
    margin: 0;
    background-color: var(--background-color);
}

#header {
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    z-index: 1;
}

nav,
header {
    margin: 0;
    padding: 3px 50px;
    text-align: center;
    align-items: center;
}

nav * {
    flex: 1;
}

header {
    font-size: 30px;
}

nav a {
    color: var(--text-color);
}

nav {
    display: flex;
    justify-content: space-between;
}